<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder | titlecase }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- now create a list of newscards here  -->
  <div id="container">

    <!-- Show news or show a progress bar instead -->
    <ion-spinner *ngIf="!newsList"></ion-spinner>
  </div>
  
  <!-- Or if there is news we can display it -->
  <div *ngIf="newsList">

    <!-- use the ngFor loop for news of newsList -->
    <div *ngFor="let news of newsList">

      <!-- takes news from the newscard component -->
      <app-news-card [news]="news"></app-news-card>
    </div>

  </div>

</ion-content>
