/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root {
	--ion-background-color: #d9d9d9;
	--ion-background-color-rgb: 217,217,217;

	--ion-text-color: #000000;
	--ion-text-color-rgb: 0,0,0;

	--ion-color-step-50: #cecece;
	--ion-color-step-100: #c3c3c3;
	--ion-color-step-150: #b8b8b8;
	--ion-color-step-200: #aeaeae;
	--ion-color-step-250: #a3a3a3;
	--ion-color-step-300: #989898;
	--ion-color-step-350: #8d8d8d;
	--ion-color-step-400: #828282;
	--ion-color-step-450: #777777;
	--ion-color-step-500: #6d6d6d;
	--ion-color-step-550: #626262;
	--ion-color-step-600: #575757;
	--ion-color-step-650: #4c4c4c;
	--ion-color-step-700: #414141;
	--ion-color-step-750: #363636;
	--ion-color-step-800: #2b2b2b;
	--ion-color-step-850: #212121;
	--ion-color-step-900: #161616;
	--ion-color-step-950: #0b0b0b;
}